.nav>li:hover {
    cursor: pointer;
}
.main-panel > .footer {
    width: 100%;
}
.news-title {
    margin-bottom: 20px;
    width: 50%;
    display: inline;
}

.createNews .card {
    padding: 30px;
}
.createNews button {
    margin: 20px 0;
}
.card .header {
    padding-left: 0;
}
.news-type {
    padding: 20px;
    background-color: #fff;
    width: 45%;
    display: inline-block;
    height: 40px;
}
.filterBlock select {
    padding: 20px;
    background-color: #fff;
    width: 45%;
    display: inline-block;
    height: 40px;
}
.listing-tab .card {
    padding: 20px 30px;
}