footer {
	background-color: rgba(255,255,190, 1);
<<<<<<< HEAD
	padding: 1% 10%;
	min-height: 100px;
=======
	margin-top: 20px;
>>>>>>> f8b9a3332592e4100a8cdbf434225b1cd0e6fe06
}

.footerLogoImg {
	padding: 10px 0 10px 10px;
	height: 80px;
	width: auto;
	position: absolute;
	left: 0;
	top: 0;
}
.footerElements {
	display: block;
<<<<<<< HEAD
    margin: 0 auto;
    height: 80px;
    padding: 30px;
	position: absolute;
	right: 0;
=======
    margin: 40px auto;
>>>>>>> f8b9a3332592e4100a8cdbf434225b1cd0e6fe06
}

.footerElements p {
	display: inline;
	color: #0076ff;
	margin: 1%;
	font-size: 20px;
}
.footer-container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	min-height: 200px;
}