footer {
	background-color: rgba(255,255,190, 1);
	padding: 1% 10%;
	min-height: 100px;
}

.footerLogoImg {
	padding: 10px 0 10px 10px;
	height: 80px;
	width: auto;
	position: absolute;
	left: 0;
	top: 0;
}

.footerElements {
	display: block;
    margin: 0 auto;
    height: 80px;
    padding: 30px;
	position: absolute;
	right: 0;
}

.footerElements p {
	display: inline;
	color: #0076ff;
	margin: 2%;
	font-size: 20px;
}
.footerContainer {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	min-height: 200px;
}