.otherCh {
    display: block;
    padding: 5px;
    margin: 0 0 5px 0;
    background-color: #f5a623;
    align-items: center;
}
.otherCh a {
    font-size: 16px;
    margin-right: 10px;
    color: white;
}
.newsListings {
    min-height: 500px;
    padding: 20px 0;
}
.newsListings .newsBlock {
    min-height: 250px;
    border: 1px solid #333;
    margin: 10px 0;
}
.newsListings .newsTitle p {
    color: white;
    padding: 5px 10px;
    text-align: left;
    display: inline;
}
.newsListings .newsTitle a {
    text-align: right;
    float: right;
    color: white;
    margin-right: 10px;
}
.newsTitle a:hover {
    cursor: pointer;
}
.newsListings .newsTitle {
    padding: 5px 0;
    background-color: #0076ff;
}
.newsList {
    padding: 10px;
}
.newsList a {
    display: block;
    font-size: 17px;
    width: 100%;
    max-width: 100%;
    max-height: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #444;
}
.popularLinks strong {
    text-align: left;
    font-size: 1.5rem;
    padding-bottom: 20px;
    display: block;
}
.popularLinks {
    background-color: #fff;
    min-height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 15px;
}
.popularLinks a {
    display: inline-block;
    margin: 10px 0;
    width: 100%;
    text-align: left;
}
.popularLinks .linksHeader {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    background-color: #0076ff;
    color: white;
    vertical-align: middle;
}
.popularLinks .linksHeader p {
    margin: 0;
    text-align: center;
}





