body {
	background-color: rgb(250, 250, 252);
}
.logoBlock {
	height: 7vh;
}

.content-div {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
	background-color: #fff;
}

@media only screen and (max-width: 992px) {
	.topMainLogoContainer {
		margin-top: 40px;
	}

	.emailLinks {
		display: none;
	}

	.adsContent.hide-on-small {
		display: none;
	}
	.hide-on-small {
		display: none;
	}
}

@media only screen and (max-width: 850px) {
}
.pd0 {
	padding: 0;
}

.pd5 {
	padding: 0 5px;
}

.pd30 {
	padding: 0 30px;
}
/*end of main container*/

/*navbar CSS*/
.navUl {
	width: 100%;
	list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgb(64,0,144);
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 10px;
}

.navLi {
	display: flex;
	display: -webkit-inline-flex;
	align-items: center;
  	justify-content: center;
	flex-grow: 1;
	border-top: 1px solid rgb(220,226,230);
	border-bottom: 1px solid rgb(226,226,230);
}

.navLi:not(:first-child):before {
	content: '|';
	color: rgb(214,214,214);
}

.navLi:first-child {
	border-left: 1px solid rgb(226,226,230);
}

.navLi:last-child {
	border-right: 1px solid rgb(226,226,230);
}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

[class^="hvr-"] {
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ffffff;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.navLi a {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	display: inline;
    color: white;
    text-align: center;
    padding: 5px 0;
    margin: 11px auto;
    text-decoration: none;
    transition: 0.2s
}

/*End of navbarCss*/

/*login{header} css*/
.index_login {
	z-index: 999;
	padding: 5px 50px 0px 0;
	background-color: #d8d8d8;
	width: 100%;
	position: fixed;
	top: 0px;
	right: 0px;
	float: right;
	border-bottom: 1px solid rgb(226,226,230);
}

.loginText {
	color: white;
}

.login {
	padding: 20px;
	float: right;
}

.login2{
	text-align: right;
	margin: 0 auto;
	padding: 10px 30px;
	text-decoration: none;
}

.floatRight {
	float: right;
	overflow: visible;
	padding-top: 5px;
}
.floatLeft{
	float: left;
	color: black;
	overflow: hidden;
	padding-top: 5px;
}

.floatLeft p {
	padding-left: 15px;
	color: #818181;
}

.mt20 {
	margin-top: 20px;
}

.mg20 {
	margin: 0 20px;
}

a.loginMargin, a.loginMargin2 {
	padding: 0;
	margin: 0 15px;
	color: #818181;
}

/*End of login{header} css*/

/*states*/

.orange {
	background-color: #F47F20;
}

.pd20 {
	padding: 0 20px;
}

.statesText {
	font-size: 20px;
	padding: 10px 10px 0;
	color: #fff;
}
span.statesText {
	padding: 0;
	font-size: 16px;
	color: #fff;
	font-weight: 900;
}
/*end of states*/

/*new nav*/
.navMainDiv {
	padding: 0 0px 3px;
	height: 120px;
}
.navbarA {
	border-top: 3px solid #d0021b;
	border-bottom: 3px solid #d0021b;
}

.navFirstDiv {
	background-color: #d0021b;
	opacity: 0.7;
    color: white;
	height: 70%;
	margin-right: 5px;
}

.navP {
	font-size: 30px;
	text-align: center;
	padding: 5px;
	padding-top: 10px;
	letter-spacing: 5px;
	font-weight: 900;
}
.navPSmall {
	text-align: center;
	position: relative;
	top: -10px;
	letter-spacing: 2px;
}

div.navbarA a {
	padding: 0 2px;
	font-size: 17px;
}

/*end of new nav*/

/*logo part*/
.fixH100 {
	height: 100px;
}


.bg-yellow {
	background-color: yellow;
    color: rgb(92,89,61);
    height: 50%;
}

.bg-yellow p, .bg-red p{
	text-align: center;
	padding-top: 25px;
	padding-left: 15px;
	letter-spacing: 15px;
}

.bg-yellow p {
	font-size: 30px;
}

.bg-red p {
	font-size: 25px;
}

.bg-red {
	background-color: #d0021b;
    color: white;
    height: 50%;
}
.pageContent {
	margin-top: 10px;
}
div.subHeight.topHeaderAds {
	padding-right: 0px;
	padding-left: 0px;
}
.qrCode {
	position: relative;
}
.carouselTitle {
	background-color: #0076ff;
}
#myCarousel .list-group-item .carouselTitle.active#carouselItemTitle {
	background-color: #0076ff;
}
.carouselTitle h4 {
	text-align: center;
	padding-top: 5px;
	letter-spacing: 4px;
	color: white;
}
@media screen and (min-width: 768px) {
	.searchBar {
		margin-top: 10px;
		display: block;
	}
	.searchbarElement {
		display: inline;
	}
	.searchbarElement input {
		padding: 5px;
		text-align: center;	
		box-sizing: border-box;
		width: 50%;
		vertical-align: top;
		direction: inline-block;
		outline: none;
	}
	.searchButton1, .searchButton2, .searchButton3, .searchButton4{
		padding: 6px;
		background-color: #4a90e2;
		color: white;
		width: 80px;
	}

	.searchButton2 {
		background-color: #d0021b;
	}

	.searchButton3 {
		background-color: #4a90e2;
	}

	.searchButton4 {
		background-color: #417505;
	}
}

@media screen and (min-width: 606px) and (max-width: 767px) {
	.emailLinks {
		margin: 0 auto;
	}

	.searchBar {
		margin-top: 10px;
		display: block;
	}
	.searchbarElement {
		display: inline;
	}
	.searchbarElement input {
		padding: 5px;
	    text-align: center;
	    box-sizing: border-box;
	    margin-left: 15vw;
	    width: 60%;
	    vertical-align: top;
	    direction: inline-block;
	    outline: none;
	}
	.searchButton1, .searchButton2, .searchButton3, .searchButton4{
		padding: 6px;
		background-color: #4a90e2;
		color: white;
		width: 80px;
	}

	.searchButton2 {
		background-color: #d0021b;
	}

	.searchButton3 {
		background-color: #4a90e2;
	}

	.searchButton4 {
		background-color: #417505;
	}
}

@media screen and (min-width: 50px) and (max-width: 605px) {
	.emailLinks {
		display: none;
	}

	.searchBar {
		margin-top: 10px;
		display: block;
	}
	.searchbarElement {
		display: inline;
	}
	.searchbarElement button {
		border: none;
	}
	.searchbarElement input {
		padding: 5px;
	    text-align: center;
	    box-sizing: border-box;
	    margin-left: 10vw;
	    width: 60%;
	    vertical-align: top;
	    direction: inline-block;
	    outline: none;
	}
	.searchButton1, .searchButton2, .searchButton3, .searchButton4{
		padding: 6px;
		background-color: #4a90e2;
		color: white;
		width: 80px;
		border: none;
	}

	.searchButton2 {
		background-color: #d0021b;
	}

	.searchButton3 {
		background-color: #4a90e2;
	}

	.searchButton4 {
		background-color: #417505;
	}
}
/*logo end*/


.subBar {
	background-color: #d0021b;
	color: #fff;
	padding: 10px;
	margin-top: 10px;
}
.subBar a {
	color: #fff;
	margin-right: 10px;
}
.logoCenter {
	text-align: center;
	display: block;
	margin: 0 auto;
}

/*navbar listing*/
.navList {
	letter-spacing: 1px;
}

/*navbar listing end*/

/*main page*/
.category {
	margin: 0 5px;
}

.sub {
	margin: 0 3%;	
}
.mb10 {
	margin-bottom: 10px;
}

.videosContent p {
	text-align: center;
	font-weight: 900;
	font-size: 18px;
	margin: 5px 0;
}
.bg-temp {
	height: 800px;
	width: 100%;
	max-height: 800px;
	overflow: hidden;
	margin-bottom: 30px;
}
.bg-temp {
	height: 800px;
}
.noPaddingLeft {
	padding-left: 0;
}
.noPaddingRight {
	padding-right: 0;
}
/*main page end*/

/*carousel & news*/
.carouselPicDiv {
	margin: 0;
	padding: 0;
}

#myCarousel .carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

.newsBlock {
	padding: 0;
}
#myCarousel .list-group-item {
	width: 100%;
	border-radius:0px;
	cursor:pointer;
}

.carousel.slide .list-group .active {
	background-color:#fff;	
}
.carousel.slide .list-group .active:hover {
	background-color:#eee;	
}
.carousel.slide .list-group .active#carouselItemTitle {
	background-color:#0076ff;	
}
.newsPicBox {
	height: 300px;
	width: 100%;
}


.newsImage {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
}



.captionBox {
	max-height: 55px;
	overflow: hidden;
}

.captionBox a {
	color: white;
}

.carouselRightUl {
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.carouselRightLi {
	flex-grow: 1;
	overflow: hidden;
}

.carouselRightLi h4 {
	margin: 0;
	line-height: 23px;
	max-width: 100%;
	max-height: 22px;
	height: 25px;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-top: 2px;
}
.searchBar {
	width: 100%;
}

@media (min-width: 992px) { 
/*	#myCarousel {padding-right:33.3333%;}*/
	#myCarousel .carousel-controls {
		display:none;
	} 	
	.googleSearch {
		padding-left: 30px;
		padding-right: 0;
	}
	.searchbarElement.forecastSearch input {
		width: 65%
	}
	.searchBar {
		margin-top: 10px;
		display: block;
	}
	.emailLinks {
		display: block;
	}

	.searchbarElement.baiduSearch input{
		width: 60%;
	}
	.searchbarElement.stockSearch input{
		width: 60%;
	}
	.searchbarElement {
		display: inline;
		margin-top: 15px;
	}
	.searchbarElement input {
		padding: 5px;
		text-align: center;	
		box-sizing: border-box;
		width: 65%;
		vertical-align: top;
		direction: inline-block;
		outline: none;
	}
	.googleSearch input {
		width: 53%;
	}


	.searchButton1, .searchButton2, .searchButton3, .searchButton4{
		padding: 6px;
		background-color: #4a90e2;
		color: white;
		width: 80px;
		border: none;
	}

	.searchButton2 {
		background-color: #d0021b;
	}

	.searchButton3 {
		background-color: #4a90e2;
	}

	.searchButton4 {
		background-color: #417505;
	}
}

@media (max-width: 991px) { 
	/*.carousel-caption p,*/
	#myCarousel .list-group {display:none;} 
}

.newsTitle {
	color: rgb(50,79,225);
	letter-spacing: 1px;
}
/*carousel & news end*/

/*youtube videos*/
.titleBlock {
	width: 100%;
	padding: 0;
	list-style-type: none;
    overflow: hidden;
    background-color: #0076ff;
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 2px;
    list-style-type: none;
}

.hotVid {
	padding: 5px;
	display: flex;
	display: -webkit-inline-flex;
	align-items: center;
  	justify-content: center;
	flex-grow: 1;
	color: white;
}

.whiteText {
	color:white;
	transition: 0.2s;
	text-decoration: none;
	cursor: pointer;
}

.whiteText:hover {
	color: white;
	text-decoration: none;
}

.whiteText2 {
	color: white;
}

iframe {
	display: block;
	max-width: 100%;
	height: auto;
}

.bg-white {
	padding-top: 10px;
	background-color: white;
	border: 1px solid rgb(226,226,230);
}
/*youtube videos end*/

/*listing block*/
.mt{
	margin-top: 20px;
}

.newList {
	display: initial;
}

.hotList {
	display: none;
}

.topListNav {
	background-color: white;
}

.topListUl {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
    overflow: hidden;
    background-color: rgb(64,0,144);
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 2px;
    list-style-type: none;
}

li.focus {
	background-color: rgb(115,0,255);
}


.topListLi {
	padding: 5px;
	display: flex;
	display: -webkit-inline-flex;
	align-items: center;
  	justify-content: center;
	flex-grow: 1;
	color: white;
}

.topListLi:hover {
	background-color: rgb(115,0,255);
	cursor: pointer;
}

.topListLi a {
	margin: 0 auto;
	color: white;
	cursor: pointer;
	text-decoration: none;
	width: 100%;
	height: 100%;
	text-align: center;
}

.topListLi a:active {
	background: rgb(115,0,255);
}

.bottomListDiv {
	background-color: white;
}

.bottomListUl {
	list-style-type: none;
	padding: 0;
}

.bottomListLi {
	padding: 10px 10px 0 10px;
	border-left: 1px solid rgb(226,226,230);
	border-right: 1px solid rgb(226,226,230);
	border-bottom: 1px solid rgb(226,226,230);
}

.bottomListLi a {
	display: block;
	max-height: 18px;
	overflow: hidden;
	cursor: pointer;
}

.bottomListLi h6 {
	display: block;
	padding: 0 15px;
}

/*listing block end*/

/*real Estate page*/
.navbarUl {
	padding: 0;
	margin: 0;
	min-width: 100%;
	list-style: none;
	display: inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(226,226,230);
}

.mg0 {
	margin: 0;
	padding: 0;
}

.sbarDiv {
	display: block;
	background-color: white;
    height: 30px;
    border: 1px solid rgb(240,240,240);
    float: right;
}


.sbarDiv2{
	display: block;
	background-color: white;
    height: 35%;
}
.sbarDiv2 input {
	width: 60%;
	padding: 5px;
	text-align: center;
}
.sbarDiv2 button {
	width: 36%;
	border: none;
	background-color: #0F8F9B;
}
/*.sbar { 
	display: block;
}
*/
.postList {
	padding: 5px;
	background-color: rgb(51,122,183);
	border-radius: 5px;

}

.postList a {
	color: lightcyan;
}

.bigListing {
	padding: 0;
	margin: 0;
	min-width: 100%;
	list-style: none;
	display: inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    border: 1px solid rgb(226,226,230);
}

.bigListing:hover {
	background-color: rgb(240,240,245);
}

.titleLi {
	padding-left: 30px;
	align-items: center;
  	justify-content: center;
	flex-basis: 60%;
}

.titleLi a {
	display: block;
	margin: 0 auto;
	padding: 10px;
}

.titleLi h5 {
	text-align: center;
}

.userLi {
	align-items: center;
  	justify-content: center;
	flex-basis: 12%;
}

.readLi {
	align-items: center;
  	justify-content: center;
	flex-basis: 20%;
}
.fs10 {
	font-size: 10px;
	margin: 0;
	padding: 0 3px;

}

.fs12{
	font-size: 12px;
	margin: 5px 0 0 0;
	padding: 0 3px;
}

.locationDiv {
	width: 100%;
	height: auto;
}

.commercialBlock {
	width: 100%;
	height: 130px;
	overflow: hidden;
}
.commercialBlock img {
	width: 100%;
	max-width: 600px;
	height: 130px;
	overflow: hidden;
}
.imgContent { 
	max-width: 400px;
	width: 100%;
	overflow: hidden;
}
.imgContent img {
	height: 100px;
}
.pizzaAd {
	height: 130px;
	background-image: url(http://nickvanceart.com/wp-content/uploads/2009/02/eazypizza.jpg);
}

.blizzardAd {
	height: 130px;
	background-image: url(https://res.cloudinary.com/pvplive/image/upload/w_750,f_auto/article_headers/HS-20170727-Frozen.jpg);
}

.bottomNavUl {
	margin: 0;
	min-width: 100%;
	list-style: none;
	display: inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(226,226,230);
	padding: 10px 0;
	justify-content: center;
}

.bottomNavLi {
	margin: 0 10px;
}

.bottomNavLi a {
	color: rgb(29,29,163);
}
/*real Estate page end*/

/*postList*/
.postListContainer {
	background-color: white;
	padding: 0 0 20px 0;
}

.fabuDiv {
	width: 100%;
	height: 30px;
	background-color: rgb(226,226,230);
}

.fabuDiv h5 {
	font-size: 15px;
	display: block;
	padding: 8px 0 0 0;
	color: rgb(29,29,163);
	text-align: center;
}

.postFirstLine {
	display: inline-block;
	width: 100%;
}

.postFirstLine h6 {
	margin: 15.5px 0;
	float: left;
	color: rgb(29,29,163);
	font-size: 15px;
}

.postSecondLine h6 {
	font-size: 15px;
	margin: 10px 0;
	color: rgb(29,29,163);
}

.titleInputBox {
	margin-top: 10px;
	border: 1px solid rgb(190,190,190);
	width: 80%;
}

.inputBoxCaption {
	margin-top: 5px;
	display: block;
	color: rgb(111,113,110);
}

.titleBoxNoBorder {
	margin: 10px 0;
	height:100%;
}

.postButtonDiv {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.hvr-grow-shadow {
	padding: 5px 0 0 30%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

[class^="hvr-"] {
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.postButton {
	border: 0px;
	display: block;
	width: 150px;
	height: 30px;
	background-color: rgb(64,0,144);
	border-radius: 5px;
	cursor: pointer;
}

.postButton span {
	letter-spacing: 1px;
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 16px;
	float:left;
}

.postImg {
	height: 20px;
	display: block;
	float: left;
	width: auto;
	display: block;
}

/*postList end*/

/*error messages*/
.errorMessage {
	width:15%;
	background-color: #ffdce0; 
	color:#86181d;
	text-align: center;
}

.messageBox{
	height:150px;
	width:300px;
	resize: none;
}
/*end of error messages*/

.modal-backdrop.in { z-index: auto;}

/*Start of Login/Signup Form*/

.formStructure{
	text-align: center;
}
.formBox{
	border-radius: 5px;
	width: 90%;
  	height: 4vh;
  	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  	border:1px solid #e6ecf0;
 }
.formButton{
	background-color:rgb(64,0,144);
	border: none;
  	color:white;
  	margin:auto;
  	width: 90%;
  	height: 4vh;
  	border-radius: 5px;
  	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
/*End of Login/Signup Form*/

/*ads*/
.topMainLogoContainer {
	width: 100%;
}

.topMainLogoContainer img{
	display: block;
	margin: 0 auto;
	height: 80px;
	max-width: 100%;
	max-height: 120px;
}

.imgContainer img {
	width: 100%;
	height: 80px;
	max-width: 100%;
	max-height: 120px;
}
.topAdsContainer {
	height: 150px;
	width: 100%;
}
.topAdsContainer img {
	height: 160px;
	width: 100%;
}
.subHeight {
	height: 160px;
	box-sizing: border-box
}
/*end of ads*/
.lastLinkBox {
	padding: 30px 10px;
}

.textCenter {
	text-align: center;
	font-size: 18px;
	color: #337ab7;
}

.blkText {
	color: black;
	font-size: 14px;
	text-decoration: underline;
}

.grey-ads {
	padding: 20px 20px;
	height: 150px;
	background-color: #d8d8d8;
}
.emailLinks {
	margin-top: 5px;
	padding: 0;
}
.emailLinks li {
	display: inline;
	margin: 0 4px;
}
.emailLinks li a {
	color: purple;
	font-weight: 900;
}
.emailLinks li:first-of-type {
	margin-left: 0;
}
.states.orange.pd20 {
	padding: 5px 10px;
	
}
.states a {
	font-size: 16px;
	padding: 0;
	margin: 0 8px;
	text-overflow: ellipsis;
	word-wrap: break-word;
}
.staticImgContainer {
	height: 80px;
	width: 225px;
    overflow: hidden;
}
.staticImgCotnainer img {
	min-width: 225px;
} 
.staticImgContainer .grey-ads {
	min-width: 225px;
	width: 225px;
	overflow: hidden;
}
.your-class .carousel-item {
	background-color: #ddd;
	color: #222;
	min-height: 300px;
	position: relative;
}
.your-class .carousel-item a {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
}
.your-class .carousel-item a h4 {
	color: #fff;
	text-align: center;
}