body {
	background-color: rgb(250, 250, 252);
}

a {
  color: #1D1DA3;
}

.states {
	font-size: 20px;
}

.logoCenter {
	display: block;
	margin: 0 auto;
}

.mb10 {
	margin-bottom: 10px;
}
.item {
	height: 250px;
	width: 250px;
}

.bodyDiv {
	margin: 5% 10%;
}

.errorMessage{
	width:15%;
	background-color: #ffdce0; 
	color:#86181d;
	text-align: center;
}