body {
	background-color: rgb(250, 250, 252);
}

/*main container*/
.bodyDiv {
	margin: 5% 10% 0;
}

@media only screen and (max-width: 1150px) {
    .bodyDiv {
        margin: 5% 8%;
    }
}

@media only screen and (max-width: 1000px) {
    .bodyDiv {
        margin: 6% 6%;
    }
}

@media only screen and (max-width: 905px) {
    .bodyDiv {
        margin: 7% 4%;
    }
}

@media only screen and (max-width: 850px) {
    .bodyDiv {
        margin: 8% 2%;
    }
}

/*end of main container*/

/*navbar CSS*/
.navUl {
	width: 100%;
	list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgb(64,0,144);
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 10px;
}

.navLi {
	display: flex;
	display: -webkit-inline-flex;
	align-items: center;
  	justify-content: center;
	flex-grow: 1;
	border-top: 1px solid rgb(220,226,230);
	border-bottom: 1px solid rgb(226,226,230);
}

.navLi:not(:first-child):before {
	content: '|';
	color: rgb(214,214,214);
}

.navLi:first-child {
	border-left: 1px solid rgb(226,226,230);
}

.navLi:last-child {
	border-right: 1px solid rgb(226,226,230);
}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

[class^="hvr-"] {
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ffffff;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.navLi a {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	display: inline;
    color: white;
    text-align: center;
    padding: 5px 0;
    margin: 11px auto;
    text-decoration: none;
    transition: 0.2s
}

/*End of navbarCss*/

/*login{header} css*/
.index_login {
	z-index: 999;
	padding: 5px 50px 5px 0;
	background-color: rgb(45,17,82);
	width: 100%;
	position: fixed;
	top: 0px;
	right: 0px;
	float: right;
	border-bottom: 1px solid rgb(226,226,230);
}

.loginText {
	color: white;
}

.login {
	padding: 20px;
	float: right;
}

.login2{
	text-align: right;
	margin: 0 auto;
	padding: 10px 30px;
	text-decoration: none;
}

.floatRight {
	float: right;
	overflow: visible;
}
.floatLeft{
	float: left;
	overflow: visible;
}

.mt20 {
	margin-top: 20px;
}

a.loginMargin, a.loginMargin2 {
	padding: 0;
	margin: 0 15px;
}

/*End of login{header} css*/

/*states*/


/*end of states*/

.logoCenter {
	text-align: center;
	display: block;
	margin: 0 auto;
}

/*navbar listing*/
.navList {
	letter-spacing: 1px;
}

/*navbar listing end*/

/*main page*/
.category {
	margin: 0 5px;
}

.sub {
	margin: 0 3%;	
}
.mb10 {
	margin-bottom: 10px;
}


.bg-temp {
	height: 1500px;
	width: 100%;
	background-image: url('https://s-media-cache-ak0.pinimg.com/736x/49/6b/65/496b65edfa8065b1e938dcf25287d9d0--pastel-goth-background-pastel-background-wallpapers.jpg');
}
/*main page end*/

/*carousel & news*/
.carouselPicDiv {
	margin: 0;
	padding: 0;
}

#myCarousel .carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}
 
#myCarousel .list-group {
	position:absolute;
	top:0;
	right:0;
}

#myCarousel .list-group-item {
	width: 100%;
	border-radius:0px;
	cursor:pointer;
}

#myCarousel .list-group .active {
	background-color:#eee;	
}

.newsPicBox {
	height: 300px;
}

.caroselImgDiv {
	height: 300px;
}

.childImg1, .childImg2, .childImg3, .childImg4, .childImg5 {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.childImg1 {
	background-image: url("https://www.what-dog.net/Images/faces2/scroll000.jpg");
}

.childImg2 {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLNhxIS87bhGe5_neXTpZZq-_OVYU6sTgHTitExrOCKA-JrGDX");
}

.childImg3 {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRx7AMyhvDshnqj1lVSF3lsUVBkxiIjZZqfW2dNHeHF-PDERNV8kA");
}

.childImg4 {
	background-image: url("https://www.what-dog.net/Images/faces2/scroll000.jpg");
}

.childImg5 {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRx7AMyhvDshnqj1lVSF3lsUVBkxiIjZZqfW2dNHeHF-PDERNV8kA");
}

.captionBox {
	max-height: 55px;
	overflow: hidden;
}

.captionBox a {
	color: white;
}

.carouselRightUl {
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.carouselRightLi {
	flex-grow: 1;
	overflow: hidden;
}

.carouselRightLi h4 {
	margin: 0;
	line-height: 23px;
}

@media (min-width: 992px) { 
/*	#myCarousel {padding-right:33.3333%;}*/
	#myCarousel .carousel-controls {display:none;} 	
}

@media (max-width: 991px) { 
	/*.carousel-caption p,*/
	#myCarousel .list-group {display:none;} 
}

.newsTitle {
	color: rgb(50,79,225);
	letter-spacing: 1px;
}
/*carousel & news end*/

/*youtube videos*/
.titleBlock {
	width: 100%;
	padding: 0;
	list-style-type: none;
    overflow: hidden;
    background-color: rgb(64,0,144);
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 2px;
    list-style-type: none;
}

.hotVid {
	padding: 5px;
	display: flex;
	display: -webkit-inline-flex;
	align-items: center;
  	justify-content: center;
	flex-grow: 1;
	color: white;
}

.whiteText {
	color:white;
	transition: 0.2s;
	text-decoration: none;
	cursor: pointer;
}

.whiteText:hover {
	color: white;
	text-decoration: none;
}

.whiteText2 {
	color: white;
}

iframe {
	display: block;
	max-width: 100%;
	height: auto;
}

.bg-white {
	padding-top: 10px;
	background-color: white;
	border: 1px solid rgb(226,226,230);
}
/*youtube videos end*/

/*listing block*/
.mt{
	margin-top: 20px;
}

.newList {
	display: initial;
}

.hotList {
	display: none;
}

.topListNav {
	background-color: white;
}

.topListUl {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
    overflow: hidden;
    background-color: rgb(64,0,144);
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 2px;
    list-style-type: none;
}

li.focus {
	background-color: rgb(115,0,255);
}


.topListLi {
	padding: 5px;
	display: flex;
	display: -webkit-inline-flex;
	align-items: center;
  	justify-content: center;
	flex-grow: 1;
	color: white;
}

.topListLi:hover {
	background-color: rgb(115,0,255);
	cursor: pointer;
}

.topListLi a {
	margin: 0 auto;
	color: white;
	cursor: pointer;
	text-decoration: none;
	width: 100%;
	height: 100%;
	text-align: center;
}

.topListLi a:active {
	background: rgb(115,0,255);
}

.bottomListDiv {
	background-color: white;
}

.bottomListUl {
	list-style-type: none;
	padding: 0;
}

.bottomListLi {
	padding: 10px 10px 0 10px;
	border-left: 1px solid rgb(226,226,230);
	border-right: 1px solid rgb(226,226,230);
	border-bottom: 1px solid rgb(226,226,230);
}

.bottomListLi a {
	display: block;
	max-height: 18px;
	overflow: hidden;
	cursor: pointer;
}

.bottomListLi h6 {
	display: block;
	padding: 0 15px;
}

/*listing block end*/

/*real Estate page*/
.navbarUl {
	padding: 0;
	margin: 0;
	min-width: 100%;
	list-style: none;
	display: inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(226,226,230);
}

.mg0 {
	margin: 0;
	padding: 0;
}

.sbarDiv {
	display: block;
	background-color: white;
    height: 30px;
    border: 1px solid rgb(240,240,240);
    float: right;
}
}

.sbar {
	display: block;
}

.postList {
	padding: 5px;
	background-color: rgb(51,122,183);
	border-radius: 5px;

}

.postList a {
	color: white;
}

.bigListing {
	padding: 0;
	margin: 0;
	min-width: 100%;
	list-style: none;
	display: inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    border: 1px solid rgb(226,226,230);
}

.bigListing:hover {
	background-color: rgb(240,240,245);
}

.titleLi {
	padding-left: 30px;
	align-items: center;
  	justify-content: center;
	flex-basis: 76%;
}

.titleLi a {
	display: block;
	margin: 0 auto;
	padding: 10px;
}

.titleLi h5 {
	text-align: center;
}

.userLi {
	align-items: center;
  	justify-content: center;
	flex-basis: 12%;
}

.readLi {
	align-items: center;
  	justify-content: center;
	flex-basis: 12%;
}
.fs10 {
	font-size: 10px;
	margin: 0;
	padding: 0 3px;

}

.fs12{
	font-size: 12px;
	margin: 5px 0 0 0;
	padding: 0 3px;
}

.locationDiv {
	width: 100%;
	height: auto;
}

.commercialBlock {
	width: 100%;
	height: 130px;
}

.pizzaAd {
	height: 130px;
	background-image: url(http://nickvanceart.com/wp-content/uploads/2009/02/eazypizza.jpg);
}

.blizzardAd {
	height: 130px;
	background-image: url(https://res.cloudinary.com/pvplive/image/upload/w_750,f_auto/article_headers/HS-20170727-Frozen.jpg);
}

.bottomNavUl {
	margin: 0;
	min-width: 100%;
	list-style: none;
	display: inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(226,226,230);
	padding: 10px 0;
	justify-content: center;
}

.bottomNavLi {
	margin: 0 10px;
}

.bottomNavLi a {
	color: rgb(29,29,163);
}
/*real Estate page end*/

/*postList*/
.postListContainer {
	background-color: white;
	padding: 0 0 20px 0;
}

.fabuDiv {
	width: 100%;
	height: 30px;
	background-color: rgb(226,226,230);
}

.fabuDiv h5 {
	font-size: 15px;
	display: block;
	padding: 8px 0 0 0;
	color: rgb(29,29,163);
	text-align: center;
}

.postFirstLine {
	display: inline-block;
	width: 100%;
}

.postFirstLine h6 {
	margin: 15.5px 0;
	float: left;
	color: rgb(29,29,163);
	font-size: 15px;
}

.postSecondLine h6 {
	font-size: 15px;
	margin: 10px 0;
	color: rgb(29,29,163);
}

.titleInputBox {
	margin-top: 10px;
	border: 1px solid rgb(190,190,190);
	width: 80%;
}

.inputBoxCaption {
	margin-top: 5px;
	display: block;
	color: rgb(111,113,110);
}

.titleBoxNoBorder {
	margin: 10px 0;
	height:100%;
}

.postButtonDiv {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.hvr-grow-shadow {
	padding: 5px 0 0 30%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

[class^="hvr-"] {
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.postButton {
	border: 0px;
	display: block;
	width: 150px;
	height: 30px;
	background-color: rgb(64,0,144);
	border-radius: 5px;
	cursor: pointer;
}

.postButton span {
	letter-spacing: 1px;
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 16px;
	float:left;
}

.postImg {
	height: 20px;
	display: block;
	float: left;
	width: auto;
	display: block;
}

/*postList end*/

/*error messages*/
.errorMessage {
	width:15%;
	background-color: #ffdce0; 
	color:#86181d;
	text-align: center;
}

.messageBox{
	height:150px;
	width:300px;
	resize: none;
}
/*end of error messages*/

.modal-backdrop.in { z-index: auto;}

/*Start of Login/Signup Form*/

.formStructure{
	text-align: center;
}
.formBox{
	border-radius: 5px;
	width: 90%;
  	height: 4vh;
  	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  	border:1px solid #e6ecf0;
 }
.formButton{
	background-color:rgb(64,0,144);
	border: none;
  	color:white;
  	margin:auto;
  	width: 90%;
  	height: 4vh;
  	border-radius: 5px;
  	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
/*End of Login/Signup Form*/

/*footer*/
footer {
	margin: 3% 0 0 0;
	padding: 2% 15%;
	background-color: rgb(45,17,82);
}

.mbt20 {
	margin-bottom: 20px;
}

/*end of footer*/
/*
.br_dropzone {
  position: relative;
  border: 1px solid rgba(#000, 0.1);
  width: 100%;
  height: 256px;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  
  background-image: linear-gradient(135deg,rgba(0,0,0,.03)25%, transparent 25%, transparent 50%, rgba(0,0,0,.03)50%, rgba(0,0,0,.03)75%, transparent 75%, transparent);
  background-color: #FAFCFD;
  background-size: 16px 16px;
}

.br_dropzone input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  font-size: 2rem;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.br_dropzone input[type=text] {
  background: none;
  border: none;
  padding: 0.5em;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  box-sizing: border-box;
}

.br_dropzone.dragover {
  background-color: #eee;
  border: 6px dashed rgba(#000, 0.1);
}*/

/*dropzone*/

/*end of dropzone*/

/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
